{% extends 'base.html' %}

{% block content %}
<h1>Hello</h1>
<p>About template</p>
<p>{{ my_text | capfirst | title }}</p>

{{ my_context | safe }}
{{ my_context | striptags | slugify}}

<p>
    , {{ my_num }},
    {{ my_list }}
</p>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>

<ul>
{% for abc in my_list %}
    {% if abc == 1234 %}
        <li>{{ forloop.counter }} - {{ abc|add:22 }}</li>
    {% elif abc == "Abc" %}
        <li>This is not </li>
    {% else %}
       <li>{{ forloop.counter }} - {{ abc }}</li>
    {% endif %}

{% endfor %}
</ul>
{% endblock content %}